<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <h1 class="mb-3">Login</h1>

          <!-- Email input -->
          <mat-form-field class="w-100 mb-2" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Enter Email">
            <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="fs-6">
              <span *ngIf="loginForm.get('email')?.hasError('required')">Email is required</span>
              <span *ngIf="loginForm.get('email')?.hasError('email')">Invalid email format</span>
              <span *ngIf="loginForm.get('email')?.hasError('notFound')">This email is not registered</span>
            </mat-error>
          </mat-form-field>

          <!-- Password input -->
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" placeholder="Enter Email">
            <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="fs-6">
              <span *ngIf="loginForm.get('email')?.hasError('required')">Password is required</span>
            </mat-error>
          </mat-form-field>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <mat-checkbox class="example-margin" formControlName="remmemberMe"><span class="fs-6">Remmember Me</span></mat-checkbox>
            <a href="#!" class="text-body">Forgot password?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" [disabled]="loginForm.invalid">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                class="link-danger">Register</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>