
<form [formGroup]="forgotPasswordForm">
  <h1 class="mb-3">Forgot Password</h1>

  <!-- Email input -->
  <mat-form-field class="w-100 mb-2" appearance="outline">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" placeholder="Enter Email">
    <mat-error *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid" class="fs-6">
      <span *ngIf="forgotPasswordForm.get('email')?.hasError('required')">Email is required</span>
      <span *ngIf="forgotPasswordForm.get('email')?.hasError('email')">Enter valid email</span>
    </mat-error>
  </mat-form-field>

  <div>
    Enter your email address and we will send you a link to reset your password.
  </div>

  <div class="text-center text-lg-start pt-2">
    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
      style="padding-left: 2.5rem; padding-right: 2.5rem;" [disabled]="forgotPasswordForm.invalid">Send Email</button>
  </div>

</form>