<div class="forgot-panel">
  <div class="d-flex align-items-center justify-content-center mb-4 gap-2">
    <h4
      class="text-center animate__animated animate__fadeInDown text-purple fs-3 mb-0">FORGOT
      PASSWORD</h4>
  </div>
  <form [formGroup]="forgotForm" *ngIf="!submitted" (ngSubmit)="onSubmit()"
    novalidate>
    <mat-form-field class="full-width mb-3" appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="userName"
        placeholder="Enter your username" autocomplete="username" />
      <mat-error
        *ngIf="userName?.invalid && (userName?.dirty || userName?.touched)">
        Username is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width mb-3" appearance="outline">
      <mat-label>Email Address</mat-label>
      <input matInput formControlName="email"
        placeholder="Enter your email address" autocomplete="email" />
      <mat-error *ngIf="email?.invalid && (email?.dirty || email?.touched)">
        <span *ngIf="email?.errors?.['required']">Email is required.</span>
        <span *ngIf="email?.errors?.['emailInvalid']">Please enter a valid email
          address.</span>
      </mat-error>
    </mat-form-field>
    <div class="d-flex flex-column align-items-center">
      <button mat-raised-button color="primary"
        class="btn btn-primary btn-lg mb-2"
        [disabled]="!isFormValid || sendResetLinkLoading">
        <mat-icon *ngIf="sendResetLinkLoading"
          class="me-2">hourglass_top</mat-icon>
        SEND RESET LINK
      </button>
      <div class="text-center">
        <a (click)="toLogin()" class="hyperLink cusrsorPointer">Back to
          login</a>
      </div>
    </div>

  </form>
  <div *ngIf="submitted" class="text-center w-100 mt-4">
    <mat-icon style="font-size: 2.5rem; "
      id="markEmailIcon" class="text-purple">mark_email_read</mat-icon>
    <p class="my-2 text-muted">
      If an account exists, you'll receive a reset link via email.<br>
      Check your inbox and spam.
    </p>
    <a (click)="toLogin()" class="hyperLink fs-5 cusrsorPointer">Back to
      login</a>
  </div>
</div>
