/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.cusrsorPointer {
  cursor: pointer;
}
.hyperLink {
  color: #b5b6d1;
  text-decoration: underline;
  transition: color 0.18s;
  cursor: pointer;
}
.hyperLink:hover {
  color: #8e71fb;
}